# Environment variables
.env

# Text files

# JSON files
*.json

# Virtual environment directories
venv/
.venv

# specific Python files
main-test.py 
data-test.py 

# Python cache directories
__pycache__/

yolov3.weights